.featured-section-links {
	text-decoration: none;
	color: #4e5863;
}

.featured-section {

	.featured-profile-image {
		//temporary need to remove object-fit not working on I.E
		object-fit: cover;

		width: 100%;
		height: 220px;
	}

	.featured-subjects {
		margin-bottom: 15px; 
		margin-top: 0;
	}

	.featured-details-container {

		.featured-name, .featured-title{
			margin-top: 0;
			margin-bottom: 0;
			font-size: 15px;
			line-height: 1.3;
			font-weight: 400;
		}
	}


	.featured-company-logo {
			height: 80px;
      width: 80px;
			object-fit: contain;
	}

	.current-topic-section {
		position: absolute;
		top: 50%;
    transform: translateY(-50%);
		text-align: center;
		width: 100%;

		h2 {
			padding-top: 20px;
			padding-bottom: 20px;
			text-transform: uppercase;
			background: rgba(0, 0, 0, 0.5);
			color: #fff
		}
	}
}

.contact-section {
	position: absolute;
	background: rgba(255, 255, 255, 0.5);
	bottom: 0;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 8px;
	text-align: right;

	span {
		background: #4e5863;
		border-radius: 100%;
		color: #fff;
		padding: 5px;
		margin-right: 5px;
	}
}
	



/* Larger than mobile */
@media (min-width: 320px) {
	.featured-section {
		.featured-container, .featured-image-container {
			width: 100%;
			height: 220px;
			position: relative;
		}
	}
	
	.featured-subjects {
		text-align: center;
	}

	.featured-details-container {
		margin-top: 0;
		text-align: center;
	}
}


/* Larger than mobile */
@media (min-width: 400px) {

}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {

}

/* Larger than tablet */
@media (min-width: 750px) {

}

/* Larger than desktop */
@media (min-width: 1000px) {

	.featured-subjects {
		text-align: left;
	}

	.featured-details-container {
		margin-top: 10%;
		text-align: left;
	}

	.featured-section {
		margin: 0 auto;
		position: relative;
			.featured-container {
				width: 260px;
				margin: 0 auto;
				position: relative;
				
			.featured-image-container {
				width: 260px;
				position: relative;
				margin: 0 auto;
			}
		}
	}
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {

}
